div{
    margin-top: 50 px;


}
.card{
    display:inline-block;
    justify-content: center;
    width:80%;
    margin-left: 5%;

}

.container{
    border: 1px solid red;
    width:50%;
    align-items:center;
    align-content: center;
    display:inline-block;
    justify-content: center;
}

